*.*~
*.tar.gz
*.pyc

.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/*
*.ipynb
!Demo.ipynb
__pycache__/
cookie

data/BEST/features/*
data/BEST/videos/*
data/EPIC-Skills/features/*

runs/*
checkpoints/*

args/*
!args/template.yaml

scripts/*
!scripts/template.sh
