# files
.ipynb_checkpoints
__pycache__
.DS_Store

# data
data/BEST/features/*
data/BEST/new_features/*
data/BEST/new_features_origin/*
data/BEST/frames/*
data/BEST/videos/*
data/BEST/vid_frames/*
data/BEST/new_splits/*
data/EPIC-Skills/features/*

# results
results/*
!args/origin/arg.yaml
!args/tcn/arg.yaml
!args/new/arg.yaml
!args/new_origin/arg.yaml

# demo
demo/videos/*
demo/results/*

# jupyter notebooks
*.ipynb
!test.ipynb

# gitkeep
!.gitkeep