# files
.ipynb_checkpoints
__pycache__
.DS_Store

# args
args/*
!args/origin.yaml
!args/tcn.yaml

# ckpt
ckpt/results/* 
ckpt/logs/* 

# checkpoints
checkpoints/* 

# data
data/BEST/features/*
data/BEST/frames/*
data/BEST/videos/*
data/BEST/vid_frames/*
data/BEST/new_splits/*
data/EPIC-Skills/features/*

# runs
runs/*

# jupyter notebooks
*.ipynb
!test.ipynb

# gitkeep
!.gitkeep